* {
    box-sizing: border-box;
}

body {
    max-width: 80%;
    margin: 0 auto;
}

strong {
    margin-right: 16px;
}

b {
    margin-right: 16px;
}

#nav {
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #65a5fa;
    float: left;
    position: fixed;
}

.main {
    margin-left: 480px;
}

h1 {
    color: white;
    text-align: center;
}